<!DOCTYPE html>
<html>
<head>
  <title>Woofers</title>
  <%= stylesheet_link_tag    'jquery.dataTables.min.css' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-2.1.4.min.js' %>
  <%= javascript_include_tag 'jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
